@require '../nt-design/colorsets'

$l-size = 1em
$l-border = 2px
$l-spin-time = 1000ms

@keyframes spinAround
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)

.nt
  margin 20px 0
  border 2px dashed c-gray200
  border-radius 5px

  &__proportion
    display flex
    justify-content space-between
    align-items center
    font-size 30px
    line-height 30px

  &__name
    padding 10px 25px
    font-size 16px

    input
      margin-left 10px
      padding 5px 10px
      font-size 16px

  &__A, &__B
    flex 1 1 auto
    padding 10px 25px

    input
      margin-left 10px
      padding 2px 10px
      width 75px
      font-size 30px
      line-height 30px

  &__A
    background-color c-red400
    color white

  &__B
    background-color c-yellow400
    color c-gray600

  &__submit
    padding 10px 25px

    input, button
      padding 10px 20px
      background-color white
      font-size 16px

      &:hover
        border-color c-gray300

  input, button
    position relative
    border 2px solid c-gray200
    border-radius 4px

    &:focus
      border-color c-gray300

    &.\\--loading
      color transparent
      pointer-events none

      &:after
        position absolute
        top 'calc(50% - (%s / 2))' % $l-size
        left 'calc(50% - (%s / 2))' % $l-size
        display block
        width $l-size
        height $l-size
        border $l-border solid c-gray50
        border-top $l-border solid c-gray500
        border-radius 50%
        content ''
        animation spinAround $l-spin-time infinite linear