@require '../nt-design/colorsets'

.nt
  &__create
    margin 0 -30px 5px
    padding 20px 30px
    background-color white
    box-shadow 0 2px 3px 0 rgba(c-gray600, 0.15)

  &__loadingState
    display flex
    justify-content center
    padding 15px 0
    width 100%