@require('../nt-design/colorsets')

.container
  box-sizing border-box
  margin 20px 0
  padding 15px 25px
  border solid 1px c-gray100
  border-radius 5px

.proportionContainer
  display flex
  justify-content space-between
  align-items center
  margin-top 10px

.proportion
  flex 1
  font-size 30px
