@require('../design/colorsets')

$side-bar-size = 200px
$horizontal-padding = 30px
$vertical-padding = 15px

.layout
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.sidebar, .content
  position absolute
  top 0
  bottom 0
  padding $vertical-padding $horizontal-padding
  box-sizing border-box

.sidebar
  left 0
  width $side-bar-size
  color white
  background-color c-gray600
  z-index 1

.content
  left $side-bar-size
  right 0
  background-color white
