// @stylint off

c-gray20          = #fefefe
c-gray50          = #f4f4f5
c-gray100         = #eaeaec
c-gray200         = #d5d5da
c-gray300         = #abacb5
c-gray400         = #818290
c-gray500         = #6c6e7e
c-gray550         = #56596b
c-gray600         = #424459
c-gray700         = #2d3047 //
c-gray800         = #1f2131
c-gray900         = #0d0e15

c-red50           = #fef0ef
c-red100          = #fcd4cf
c-red200          = #fbb7af
c-red300          = #fa9a8f
c-red400          = #f87060 // 
c-red500          = #f75a48
c-red600          = #f6442f // 
c-red700          = #c43625
c-red800          = #ac2f20
c-red900          = #7b2217

c-yellow50         = #fffcf0
c-yellow100        = #fff7d3
c-yellow200        = #fff2b6
c-yellow300        = #ffed98
c-yellow400        = #ffe66d // 
c-yellow500        = #ffd921 // 
c-yellow600        = #edc400
c-yellow700        = #d4af00
c-yellow800        = #a98c00
c-yellow900        = #7f6900

red = #f87060
gray = #2d3047
yellow = #ffe66d
purple = #847996
highlight = #F7FFF7
