@require '../nt-design/colorsets'
@require '../nt-styles/global'

$side-bar-size = 90px
$horizontal-padding = 30px
$vertical-padding = 15px

.layout
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden

.sidebar, .content
  position absolute
  top 0
  bottom 0
  box-sizing border-box
  overflow-y auto

.sidebar
  left 0
  z-index 1
  width $side-bar-size
  background-color c-gray600
  background linear-gradient(to top, c-gray850, c-gray800, c-gray800, c-gray850)
  box-shadow 1px 0 5px 0 rgba(c-gray900, 0.5)
  color c-gray200
  overflow-x visible
  z-index 2

.content
  right 0
  left $side-bar-size
  display flex
  justify-content center
  padding $vertical-padding $horizontal-padding
  background-color c-gray25
  overflow-x hidden

.name
  margin-bottom 15px
  padding 25px 15px
  border-bottom 2px dashed c-gray500
  color white
  font-size 20px

.link
  box-sizing border-box
  padding 10px 15px
  width 100%
  transition background-color 0.1s ease, color 0.1s ease

  &:hover
    background-color c-gray850
    color white

.activeLink > .link
  background-color c-gray900
  color white
