@require '../nt-design/colorsets'
@require '../nt-styles/global'

$side-bar-size = 180px
$horizontal-padding = 30px
$vertical-padding = 15px

.layout
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden

.sidebar, .content
  position absolute
  top 0
  bottom 0
  overflow-y auto
  box-sizing border-box

.sidebar
  left 0
  z-index 1
  z-index 2
  overflow-x visible
  width $side-bar-size
  background-color c-gray850
  // background linear-gradient(to top, c-gray850, c-gray800, c-gray800, c-gray850)
  // box-shadow 1px 0 5px 0 rgba(c-gray900, 0.5)
  border-right 2px solid c-gray900
  color c-gray200

.content
  right 0
  left $side-bar-size
  display flex
  justify-content center
  overflow-x hidden
  padding $vertical-padding $horizontal-padding

.name
  margin-bottom 5px
  padding 25px 15px
  background-color c-gray900
  border-bottom 2px solid c-gray950
  color white
  font-size 20px

.link
  box-sizing border-box
  box-sizing border-box
  padding 15px
  width 100%
  font-size 14px
  transition background-color 0.1s ease color 0.1s ease
  border-left 5px solid transparent

  &:hover
    background-color c-gray850
    color white

  > span
    margin-left 8px

  > i
    font-size 16px
    width 18px

.activeLink > .link
  border-left 5px solid c-teal500
  background-color c-gray900
  color white